@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Poppins', sans-serif;
}


/* ScrollingTextAnimation.css */

/* Container to hold the scrolling text elements */
.scrolling-text-container {
  display: flex; /* Arrange text elements in a row */
  overflow: hidden; /* Hide overflow text */
}

/* Individual text elements inside the container */
.scrolling-text {
  padding: 0 20px; /* Add spacing between text elements */
  animation: scroll-left 4s linear infinite; /* Define the animation and its duration */
}

/* Animation definition */
@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start position - off screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End position - off screen to the left */
  }
}
