@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Poppins', sans-serif;
}

/* ScrollingTextAnimation.css */

/* Container to hold the scrolling text elements */
.scrolling-text-container {
  display: flex; /* Arrange text elements in a row */
  overflow: hidden; /* Hide overflow text */
}

/* Individual text elements inside the container */
.scrolling-text {
  padding: 0 20px; /* Add spacing between text elements */
  animation: scroll-left 4s linear infinite; /* Define the animation and its duration */
}

/* Animation definition */
@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start position - off screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End position - off screen to the left */
  }
}

@keyframes loader {
  0%,
  80%,
  100% {
    opacity: 0; /* Dots are invisible */
  }
  40% {
    opacity: 1; /* Dots are visible */
  }
}

/* Additional styles for the loader container */
.loader-container {
  display: inline-flex;
  align-items: center;
  margin-left: 3px;
}

/* Additional styles for each dot */
.loader-dot {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #000; /* You can adjust the color of the dots here */
  margin-right: 4px; /* Spacing between dots */
  animation: loader 1s infinite;
}

.one {
  animation: moveUpAndDown 2s linear infinite;
}

.two {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 0.2s;
}

.three {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 0.4s;
}

.four {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 0.6s;
}
.five {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 0.8s;
}

.one-a {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 1s;
}

.two-a {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 1.2s;
}

.three-a {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 1.4s;
}

.four-a {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 1.6s;
}
.five-a {
  animation: moveUpAndDown 2s linear infinite;
  animation-delay: 1.8s;
}

@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(
      0
    ); /* Initial and final position (ball stays at the same position) */
  }
  50% {
    transform: translateY(-30px); /* Middle position (ball moves up) */
  }
}

.second {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
